@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

@font-face {
  font-family: "Brooklyn";
  src: url("./font/Brooklyn.woff2");
}

@font-face {
  font-family: "Franie";
  src: url("./font/Franie.woff2");
}

body {
  font-family: Brooklyn;
  font-size: 1rem;
  color: black;
}
