.payment_logo {
  display: flex;
}

.payment_container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.transaction_id {
  margin-top: 20px;
}

.payment_btn {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.payment_container > h1 {
  font-family: var(--font-family-brooklyn);
  font-size: var(--font-size-subheading-desktop);
}
